<form class="search-results__form search-form" action="/search.html" method="GET">
    <input class="search-form__q" type="text" name="q" value="{{q}}" />
    <input class="search-form__submit" type="submit" value="Search" />
</form>
{{#if (gt results.length 0)}}
    <h1 class="search-results__headline headline headline--level1">Search results</h1>
    <ul class="search-results__list">
        {{#each results}}
            <li class="
                search-results__list__item
                search-results__list__item--{{#if (eq this.type 'blogEntry')}}blog-entry{{else}}page{{/if}}
            ">
                <a class="link" href="{{this.url}}{{this.queryString}}">
                    <h2 class="search-results__list__item__title headline headline--level2">
                        {{#if (eq this.type 'blogEntry')}}
                            {{this.subtitle}} - {{this.title}}
                        {{else}}
                            {{#each this.titles}}{{#if @last}}{{this}}{{/if}}{{/each}}
                        {{/if}}
                    </h2>
                    <p class="search-results__list__item__statistics paragraph">
                        {{this.count}} hits
                        ({{#each this.terms}}{{@key}}: {{this}}{{#unless @last}}, {{/unless}}{{/each}})
                    </p>
                </a>
            </li>
        {{/each}}
    </ul>
{{else}}
    <h1 class="search-results__headline headline headline--level1">No results found</h1>
    <p class="search-results__paragraph paragraph">Please try a different combination of search terms.</p>
{{/if}}
