<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>
        Untitled
        {{#if (eq type 'blog')}}
            {{#if (eq blogType 'list')}}
                - Blog ({{totalEntries}} entries)
                - Page {{currentPage}}
                (entries
                {{math firstIndex '+' 1}}
                to
                {{math lastIndex '+' 1}},
                {{#with (lookup entries firstIndex)}}{{this.subtitle}}{{/with}}
                to
                {{#with (lookup entries lastIndex)}}{{this.subtitle}}{{/with}}) 
            {{else}}
                - {{entry.subtitle}} - {{entry.title}}
            {{/if}}
        {{else}}
            {{#each titles}} - {{this}}{{/each}}
        {{/if}}
    </title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
</head>
<body>
    <aside class="aside">
        <nav class="navigation">
            <a href="/">Homepage</a>
            {{> navigation pages=navigation.pages level=1}}
        </nav>
    </aside>
    <main class="main main--{{type}}"">
