{{#if (gt totalPages 1)}}
    <nav class="pagination">
        <ul class="pagination__list">
            <li class="
                pagination__list__item
                pagination__list__item--first
                {{#if (lte currentPage 0)}}pagination__list__item--disabled{{/if}}">
                <a class="pagination__list__item__link" href="{{getIndex type hashtag 0}}">First</a>
            </li>
            <li class="
                pagination__list__item
                pagination__list__item--previous
                {{#if (lte currentPage 0)}}pagination__list__item--disabled{{/if}}
            ">
                <a
                    class="pagination__list__item__link"
                    href="{{#if (lte currentPage 1)}}{{
                        getIndex type hashtag 0
                    }}{{else}}{{
                        getIndex type hashtag (math currentPage '-' 1)
                    }}{{/if}}"
                >Previous</a>
            </li>
            {{#each window}}
                <li class="
                    pagination__list__item
                    pagination__list__item--index
                    {{#if (eq this ../currentPage)}}pagination__list__item--active{{/if}}
                ">
                    <a
                        class="pagination__list__item__link"
                        href="{{#if (lte this 0)}}{{
                            getIndex ../type ../hashtag 0
                        }}{{else}}{{
                            getIndex ../type ../hashtag this
                        }}{{/if}}"
                    >{{math this '+' 1}}</a>
                </li>
            {{/each}}
            <li class="
                pagination__list__item
                pagination__list__item--next
                {{#if (gte currentPage (math totalPages '-' 1))}} pagination__list__item--disabled{{/if}}
            ">
                <a
                    class="pagination__list__item__link"
                    href="{{#if (gte currentPage (math totalPages '-' 2))}}{{
                        getIndex type hashtag (math totalPages '-' 1)
                    }}{{else}}{{
                        getIndex type hashtag (math currentPage '+' 1)
                    }}{{/if}}"
                >Next</a>
            </li>
            <li class="
                pagination__list__item
                pagination__list__item--last
                {{#if (gte currentPage (math totalPages '-' 1))}} pagination__list__item--disabled{{/if}}
            ">
                <a class="pagination__list__item__link" href="{{
                    getIndex type hashtag (math totalPages '-' 1)
                }}">Last</a>
            </li>
        </ul>
    </nav>
{{/if}}
